html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  margin: 0;
}

figure {
  margin: 0;
}

.grain-left {
  width: 40px;
  float: left;
  margin-top: .7rem;
}

.grain-right {
  width: 40px;
  float: right;
  margin-top: .7rem;
}

h1 {
  color: #fff;
  font-family: 'Merriweather', serif;
  background-color: #d05c2e;
  width: 100%;
  text-align: center;
  margin:0;
  padding: .5em;
  font-size: 2rem;
}

nav ul li {
  font-family: 'Merriweather', serif;
  background-color: #d05c2e;
  text-align: center;
  list-style-type: none;
  float: left;
  width: 33.33%;
  padding: .4rem 0;
  border-bottom: 1px solid #a63f38;
}

ul li:first-child {
  border-right: 1px solid #a63f38;
}

ul li:last-child {
    border-left: 1px solid #a63f38;
}

li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
}

li:hover {
  background-color: #a63f38;
}

ul{
  margin: 0;
  padding-left: 0;
  border-top: 1px solid #a63f38;
}
